<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Saisie ID client</title>
    
    <!--importation AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="/static/saisie.js"></script>

    <!--Lecture fichier CSS-->
    <link rel="stylesheet" type="text/css" href="/static/saisie.css">

  </head>

  <body>
       <div class="contenu">
          <h1>
            Saisir l'ID client
          </h1>
       </div>
       <div class="formID">
          <form action="process.html" method="get">
  		<label for="username">User</label>
  		<input type="text" id="username" name="username"><br><br>
  		<input type="submit" value="Submit">
	   </form>
       </div>
       <div class="formID">
          <form action="process.html" method="get">
  		<label for="username">User</label>
  		<input type="text" id="username" name="username"><br><br>
  		<input type="submit" value="Submit">
	   </form>
       </div>
       <div class="formID">
          <form action="process.html" method="get">
  		<label for="username">User</label>
  		<input type="text" id="username" name="username"><br><br>
  		<input type="submit" value="Submit">
	   </form>
       </div>
       <div class="formID">
          <form action="process.html" method="get">
  		<label for="username">User</label>
  		<input type="text" id="username" name="username"><br><br>
  		<input type="submit" value="Submit">
	   </form>
       </div>
  </body>
</html>
